@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #202020;
  --primary-dark: #303030;
  --secondary: #6b7280;
  --secondary-dark: #4c515c;
  --cta: rgba(254, 14, 0);
}

body {
  list-style: none;
  background-color: #202020;
}

.image-upload {
  /* https://kovart.github.io/dashed-border-generator/ */
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23FE0E00FF' stroke-width='4' stroke-dasharray='9%25%2c 10%25' stroke-dashoffset='6' stroke-linecap='butt'/%3e%3c/svg%3e");
}
